@font-face {
  font-family: "iconfont"; /* Project id 3670618 */
  src: url('iconfont.woff2?t=1664081117702') format('woff2'),
       url('iconfont.woff?t=1664081117702') format('woff'),
       url('iconfont.ttf?t=1664081117702') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-nan:before {
  content: "\e601";
}

.icon-hu:before {
  content: "\e602";
}

.icon-nv:before {
  content: "\e603";
}

